<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>acceuil/estiamFlix</title>
</head>
<body>
    <center>
    <h1>ACCEUIL</h1>
    <a href="http://127.0.0.1:8000/listes_des_series/">listes_des_series</a>
    <a href="http://127.0.0.1:8000/serie/add/">ajouter une serie</a>
</center>
<span>hi !! {{request.user}} </span>
<span><a href="{% url 'quitter' %}">logout</a></span>
</body>
</html>